
.container{
    background-color: aqua;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .child{
    background-color: whitesmoke;
    width: 60%;
    height:450px;
    
  }
  .logo 
  {
  
    font-size: 20px;
      padding: 20px 20px 20px 50px;
      color: rgb(62, 5, 116);
      font-weight: 900;
      font-family: emoji;
  }
  .div1{
    width: 47%;
    height: 300px;
    
  
  }
  .div1 img{
    width:69%;
    padding: 30px;
  }
  .div2{
    width: 47%;
    height: 300px;
    padding-top:33px;
  
  
  }
  .form{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .div1 img{
    width:69%;
  }
  .title
  {
    font-size: 12px;
      padding: 20px 20px 20px 50px;
      color: rgb(62, 5, 116);
      font-weight: 900;
      font-family: emoji;
      padding-top: 73px
  }
  .welcome
  {
    font-size: 22px;
    color: #480784;
    font-weight: 900;
    font-family: math;
  }
  
  
  .logintcn
  {
    font-size: 14px;
    color: #13111470;
    padding:2px;
  }
  
  .username
  {
    margin-top: 13px;
    margin-bottom: 9px;
    /* padding-bottom: 202px; */
    width: 70%;
    height: 34px;
    padding-left: 48px;
    border: 1px solid rgb(12, 167, 202);
    
  }
  
  .password
  {
    width:70%;
    height: 34px;
    padding-left: 48px;
  
    border: 1px solid rgb(12, 167, 202);
    ;
  }
  .check
  {
    display:inline-flex;
    padding-top: 16px;
  }
  .forget{
    font-weight: 600;
    padding-left:112px;
    color: #20198d;
    font-size: 14px;
  }
  .remember
  {
    color: #20198d;
    font-size: 14px;
    padding-top: 2px;
    font-weight: 600;
  }
  .signin
  {
    padding-top:30px;
   
    display:flex;
    justify-content: center;
    padding-right: 66px;
  }
  .btn{
    background: #68d0ed;
      border: #68d0ed;
      border-bottom-right-radius: 3px;
      width: 90px;
      border: 1px 10px 1px 2px;
      height: 35px;
      border-bottom-left-radius: 3px;
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
      color:white;
  }